<!DOCTYPE html>
<html ng-app="coffee" ng-controller="store_login">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<link href="css/default.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/helper.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
		<script type="text/javascript" src="js/layer.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<meta name="description" content="最有温度的品质生活社区。" />
		<title></title>
		<link href="store_login.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div style="padding-top: 20px; font-size: 18px; text-align: center;">
			商家系统
		</div>

		<div style="padding: 30px 10px 0px 10px; font-size: 16px;">
			<label style="width: 90px; line-height: 28px; padding: 10px 0px;">手机号</label>
			<input style="width: 70%; border: none; line-height: 28px; padding: 5px 0px 10px 32px; outline: none; font-size: 16px;" type="text" name="tel" id="tel" placeholder="请输入11位中国手机号" value="" />
			<div style="height: 1px; background-color: #d5d5d5;"></div>
		</div>

		<div style="padding: 10px 10px 0px 10px; font-size: 16px;">
			<label style="width: 90px; line-height: 28px; padding: 10px 0px;">密码</label>
			<input style="width: 70%; border: none; line-height: 28px; padding: 5px 0px 10px 50px; outline: none; font-size: 16px;" type="password" name="password" id="password" placeholder="请输入6位及以上密码" value="" />
			<div style="height: 1px; background-color: #d5d5d5;"></div>
		</div>

		<div style="padding: 20px 10px 0px 10px;">
			<div style=" width: 100%;">
				<a href="">
					<div style="padding: 2%;" ng-click="loginMember()">
						<div style="background-color: #06bf04; line-height: 48px; text-align: center; color: white; border-radius: 4px; font-size: 16px;">
							<span>登录</span>
						</div>
					</div>
				</a>
				<div style="clear: both;"></div>
			</div>
			<div style=" width: 100%;">
				<a href="store_register.html?isBoss=true&getui={{getui}}">
					<div style="float: left; width: 46%; padding: 2%;">
						<div style="border-color: #404040; border-style: solid; border-width: 1px; line-height: 48px; text-align: center; color: #404040; border-radius: 4px; font-size: 16px;">
							<span>店长注册</span>
						</div>
					</div>
				</a>
				<a href="store_register.html?isBoss=false&getui={{getui}}">
					<div style="float: left; width: 46%; padding: 2%;">
						<div style="border-color: #404040; border-style: solid; border-width: 1px; line-height: 48px; text-align: center; color: #404040; border-radius: 4px; font-size: 16px;">
							<span>员工注册</span>
						</div>
					</div>
				</a>
				<div style="clear: both;"></div>
			</div>
		</div>
		<div style="float: right; padding-top: 5px; padding-right: 20px;">
			<a href="" ng-click="forgetPw()">
				<div style="color: #606060; font-size: 14px;">
					<span>忘记密码</span>
				</div>
			</a>	
		</div>
		<div style="clear: both;"></div>
	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="store_login.js"></script>

</html>