<!DOCTYPE html>
<html ng-app="coffee" ng-controller="store_member">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<link href="css/default.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/helper.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
		<script type="text/javascript" src="js/layer.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<meta name="description" content="最有温度的品质生活社区。" />
		<title>我的店员</title>
		<link href="store_member.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div style="padding: 3%; font-size: 16px;">
			<a href="store_memberadd.html?sid={{sid}}" style="float: right; color: #606060;">添加</a>
			<a href="store_cashrecord.html" style="color: #404040;">回到店铺</a>
			<div style="clear: both;"></div>
		</div>

		<div ng-show="memberList.length == 0" style="padding-top: 10px; text-align: center;">当前店铺没有店员</div>

		<div ng-show="memberList.length > 0" ng-repeat="row in memberList">
			<div style="padding-top: 10px;">
				<div style="padding: 10px; background-color: white;">
					<div style="width: 50px; height: 30px; float: right; text-align: right;" ng-click="deleteMember(row, $index)">
						<img src="img/del.png" width="15px" height="15px" />	
					</div>
					<img ng-show="row.member_avatar.length > 0" ng-src="{{row.member_avatar}}" style="float: left; border-radius: 100%; width: 40px; height: 40px; margin-right: 10px;" />
					<div ng-show="row.member_name.length > 0" ng-bind="row.member_name" style="padding-bottom: 5px;"></div>
					<div ng-bind="row.member_phone"></div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="store_member.js"></script>

</html>