<!DOCTYPE html>
<html ng-app="coffee" ng-controller="store_cashrecord">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<link href="css/default.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="js/helper.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
		<script type="text/javascript" src="js/layer.js"></script>
		<script type="text/javascript" src="js/underscore-min.js"></script>
		<meta name="description" content="最有温度的品质生活社区。" />
		<title>商家系统</title>
		<link href="store_cashrecord.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div>
			<div style="padding-top: 3%; padding-left: 3%; padding-right: 3%; padding-bottom: 15px; font-size: 16px;">
				
				<div ng-bind="storeName"></div>
				<div style="padding-top: 5px;">
					<a ng-show="!isManager && storeName.length > 0" ng-click="loginOut()" style="float: right; color: #606060;">退出登录</a>
					<span>余额：</span><span ng-bind="amount"></span><span>元</span>
				</div>
				<div style="clear: both;"></div>
			</div>
			
			<div style="background-color: #E0E0E0; padding-top: 10px; padding-bottom: 10px; font-size: 16px;">
				<span style="padding-left: 3%;">账单明细</span>
			</div>
			<div style="padding-top: 0px; font-size: 16px; color: #909090;">

				<div ng-show="cashList.length == 0 && isFinished" style="text-align: center; padding-top: 10px;">
					啊哦，目前没有账单哦～
				</div>

				<div ng-show="cashList.length > 0 && isFinished">
					<div ng-repeat="row in cashList">
						<div ng-show="row.type == 1" style="padding: 20px 3% 10px 3%; font-size: 14px; color: #909090;">
							<span>订单编号：</span><span ng-bind="row.order_order_no"></span>
						</div>
						<div ng-show="row.type == 1" style="background-color: #fafafa; padding-left: 3%; padding-right: 3%; padding-top: 10px; padding-bottom: 10px;">
							<div>
								<div style="float: right;">
									<span ng-bind="row.member_name"></span><span>支付成功</span>
								</div>
								<span>+</span><span ng-bind="row.amount"></span>
								<div style="clear: both;"></div>
							</div>
							<div style="padding-top: 5px;">
								<span ng-bind="row.create_time"></span>
							</div>
						</div>
						<div ng-show="row.type == -1" style="background-color: #fafafa; padding-left: 3%; padding-right: 3%; padding-top: 10px; padding-bottom: 10px;">
							<div>
								<div style="float: right;">
									<span ng-bind="row.status_str"></span>
								</div>
								<span>-</span><span ng-bind="row.amount"></span>
							</div>
							<div style="padding-top: 5px;">
								<span ng-bind="row.create_time"></span>
							</div>
						</div>
						<div style="width: 100%; height: 10px; background-color: #E0E0E0;"></div>
					</div>
				</div>
			</div>

			<div style="position: fixed; bottom: 48px; right: 0; text-align: center; width: 50%; line-height: 48px; background-color: white;" ng-show="isMyOpen">
				<div style="border-style: solid; border-width: 1px; border-color: #d5d5d5;">
					<a href="store_change.html?sid={{sid}}">
						<div style="color: #404040;">切换店铺</div>
					</a>
					<div style="height: 1px; background-color: #d5d5d5;"></div>
					<a href="store_member.html?sid={{sid}}">
						<div style="color: #404040;">我的店员</div>
					</a>
					<div style="height: 1px; background-color: #d5d5d5;"></div>
					<a href="" ng-click="loginOut()">
						<div style="color: #404040;">退出登录</div>
					</a>
				</div>
			</div>

			<div ng-show="isManager" style="padding-bottom: 58px;"></div>

			<div ng-show="isManager" style="position: fixed; bottom: 0px; width: 100%; line-height: 48px; text-align: center; color: #404040; font-size: 16px; background-color: #d5d5d5;">
				<div style="height: 1px; background-color: #d5d5d5;"></div>
				<a href="store_cashadd.html?mid={{member.guid}}&sid={{sid}}">
					<div style="float: left; width: 49.75%; background-color: #06bf04; color: white; font-size: 14px;">提现</div>
				</a>
				<div style="float: left; width: 1px; height: 47px;"></div>
				<div style="float: right; width: 49.75%; line-height: 47px; background-color: white; font-size: 14px;" ng-click="myClicked()"><img src="img/list.png" width="20px" height="20px" align="absmiddle" />我的</div>
				<div style="margin-top: 47px; height: 1px; background-color: #d5d5d5;"></div>
				<div style="clear: both;"></div>
			</div>

		</div>
	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="store_cashrecord.js"></script>

</html>