<!DOCTYPE html>
<html ng-app="coffee" ng-controller="store_previewdetail">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="description" content="最有温度的品质生活社区。" />
		<script type="text/javascript" src="js/angular.min.js" ></script>
		<title></title>
	</head>

	<body style="font-family: helvetica;">
		<div>
			<div style="background-color: white;">
				<img ng-src="{{store.image}}" width="100%"/>
			</div>

			<div style="background-color: white; padding: 4% 4% 0 4%;">
				<div style="color: #404040; font-size: 20px;" ng-cloak>{{store.name}}</div>
				<div style="color: #909090; padding-top: 10px; font-size: 20px;" ng-cloak>{{store.slogan}}</div>
				<div style="color: #909090; padding-top: 10px;">
					<div style="float: left; padding-left: 1px; margin-top: -2px;" ng-repeat="s in store.starList">
						<img src="img1/n2sel.png" width="16.7" height="16" align="absmiddle" />
					</div>
					<span style="padding-left:10px; color: #909090; font-size: 14px;" ng-cloak>{{store.comment}} · {{store.feature3}}</span>
					<div style="clear: both;"></div>
				</div>
				<div style="margin-top: 6%; height: 1px; background-color: #e0e0e0;"></div>
				<div style="padding-top: 5%;">
					<div ng-repeat="row in resultFeature2">
						<div ng-repeat="number in row">
							<div ng-show="row.length == 1" style="text-align: center;" ng-cloak>
								<img ng-src="img1/nf2{{number}}.png" width="25%" />
							</div>
							<div ng-show="row.length == 2" style="float: left; width: 50%; text-align: center;" ng-cloak>
								<img ng-src="img1/nf2{{number}}.png" width="50%" />
							</div>
							<div ng-show="row.length == 3" style="float: left; width: 32%; text-align: center;" ng-cloak>
								<img ng-src="img1/nf2{{number}}.png" width="78.125%" />
							</div>
							<div ng-show="row.length == 4" style="float: left; width: 25%; text-align: center;" ng-cloak>
								<img ng-src="img1/nf2{{number}}.png" width="100%" />
							</div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div style="margin-top: 5%; height: 1px; background-color: #e0e0e0;"></div>
				<div style="padding-top: 4%;">
					<div style="float: left;">
						<div style="color: #909090; font-size: 16px;">创始人</div>
						<div style="color: #fd6e7f; font-size: 16px; padding-top: 4px;" ng-cloak>{{store.owner}}</div>
					</div>
					<div style="float: right;">
						<img ng-src="{{store.avatar}}" width="50px" height="50px" style="border-radius: 100%;" />
					</div>
					<div style="clear: both;"></div>
				</div>

				<div style="padding-top: 4%; padding-left: 4%; padding-right: 4%;">
					<div id="descriptionId" style="color: #606060; font-size: 16px; line-height: 150%; text-align: justify;"></div>
				</div>
				<div ng-show="!isExpand" style="text-align: right; padding-right: 4%; padding-top: 10px;">
					<a href="" style="color: #fd6e7f; font-size: 16px; padding-right: 0px; text-decoration:none" ng-click="readDescription()">阅读全文</a>
				</div>

				<div style="margin-top: 4%; height: 1px; background-color: #e0e0e0;"></div>
				<div style="padding: 3% 0 0 4%;" ng-show="store.recommends.length > 0">
					<div><span style="color: #fd6e7f; font-size: 16px;" ng-bind="store.owner"></span><span style="color: #909090; font-size: 16px;">推荐的好咖啡</span></div>
					<div style="padding-top: 16px;" ng-repeat="recommed in store.recommends">
						<div>
							<div style="float: left; padding-right: 10px; margin-top: 2px;">
								<img ng-src="{{recommed.commodity_image_url}}" align="absmiddle" width="80px" height="60px" />
							</div>
							<span style="color: #fd6e7f; font-size: 16px;" ng-bind="recommed.commodity_name"></span><span style="color: #fd6e7f; font-size: 16px;"> | </span><span style="color: #fd6e7f; font-size: 16px;" ng-bind="recommed.commodity_description"></span>
							<div style="padding-left: 90px; font-size: 16px; color: #606060;" ng-bind="recommed.message"></div>
							<div style="clear: both;"></div>
						</div>
					</div>

					<div style="margin-top: 4%; height: 1px; background-color: #e0e0e0;"></div>
				</div>

				<div style="padding: 4% 0 0 4%; color: #606060; font-size: 14px;">
					<img style="float: left;" src="img1/n12.png" width="20px" height="20px" align="absmiddle" />
					<div style="padding-left: 30px;">
						<span style="font-size: 16px;" ng-bind="store.address"></span>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div style="padding: 3% 0 0 4%; color: #606060; font-size: 12px;">
					<img style="float: left;" src="img1/n13.png" width="20px" height="20px" align="absmiddle" />
					<div style="padding-left: 30px;">
						<span id="dateId" style="font-size: 16px;"></span>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div style="padding: 3% 0 0 4%; color: #606060; font-size: 12px;">
					<img style="float: left;" src="img1/n14.png" width="20px" height="20px" align="absmiddle" />
					<div style="padding-left: 30px; padding-right: 40px;">
						<a href="tel:{{store.phone}}" style="text-decoration:none"><span id="phoneId" style="font-size: 16px; color: #606060;"></span></a>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div style="margin-top: 4%; height: 1px; background-color: #e0e0e0;"></div>

				<div style="padding-top: 5%; padding-bottom: 5%;">
					<div ng-repeat="row in resultFeature1">
						<div ng-repeat="number in row">
							<div ng-show="row.length == 1" style="text-align: center; padding-top: 10px;" ng-cloak>
								<img ng-src="img1/nf1{{number}}.png" width="20%" />
							</div>
							<div ng-show="row.length == 2" style="float: left; width: 50%; text-align: center; padding-top: 10px;" ng-cloak>
								<img ng-src="img1/nf1{{number}}.png" width="40%" />
							</div>
							<div ng-show="row.length == 3" style="float: left; width: 32%; text-align: center; padding-top: 10px;" ng-cloak>
								<img ng-src="img1/nf1{{number}}.png" width="62.5%" />
							</div>
							<div ng-show="row.length == 4" style="float: left; width: 25%; text-align: center; padding-top: 10px;" ng-cloak>
								<img ng-src="img1/nf1{{number}}.png" width="80%" />
							</div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>

				<div style="height: 1px; background-color: #e0e0e0;"></div>

				<div style="padding-top: 6%;">
					<div style="color: #606060; font-size: 16px;">
						<div style="float: left; padding-right: 10px;"><span ng-bind="store.comment"></span>个品友点评</div>
						<div style="float: left; padding-left: 1px; margin-top: -2px;" ng-repeat="s in store.starList">
							<img src="img1/n2sel.png" width="16.7" height="16" align="absmiddle" />
						</div>
						<div style="clear: both;"></div>
					</div>

					<div style="padding-top: 6%;" ng-repeat="row in commentList">
						<div style="float: left"><img ng-src="{{row.avatar}}" width="40px" height="40px" align="absmiddle" style="border-radius: 100%;" /> </div>
						<div style="padding-left: 50px; color: #909090;">
							<div style="font-size: 16px;" ng-bind="row.name"></div>
							<div style="font-size: 14px;" ng-bind="row.create_time1"></div>
						</div>
						<div style="clear: both;"></div>
						<div style="padding: 2% 0 2% 0; font-size: 16px; color: #909090;" ng-cloak>{{row.message}}</div>

						<div style="margin-top: 4%; height: 1px; background-color: #e0e0e0;"></div>

					</div>
					<div style="text-align: right; padding-top: 10px; padding-bottom: 10px;">
					</div>
				</div>

			</div>
		</div>

	</body>
	<script type="text/javascript" src="store_previewdetail.js"></script>
</html>